

/* <link rel="stylesheet" href="cyberbreakers.css"> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background-color: #182a55; 
  color: #e5e7eb; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background: #7d96be;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
}

/* Headings */
h1, h2 {
  margin-bottom: 15px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  background-color: #0a6d2e; /* green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #075022;
}


a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.card {
  background: #334155;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}


.highlight {
  color: #facc15;
  font-weight: bold;
}