/* <link rel="stylesheet" href="cyberbreakers.css"> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ===== BACKGROUND ===== */
body {
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 133, 1) 50%, rgba(2, 0, 36, 1) 100%);
  color: #e5e7eb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  animation: bgPulse 8s ease-in-out infinite;
}

@keyframes bgPulse {
  0%, 100% { filter: brightness(1); }
  50% { filter: brightness(1.1); }
}


.container {
  background: #7d96be;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;


  box-shadow: 
    0 0 15px rgba(0,0,0,0.5),
    0 0 25px rgba(151, 10, 17, 0.3);


  animation: fadeInUp 0.8s ease;
}


h1, h2 {
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;

  background: #e5e7eb;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 0 8px #970a11;
  transform: scale(1.02);
}


button {
  width: 100%;
  padding: 10px;
  background-color: #970a11;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;


  transition: all 0.25s ease;
}

button:hover {
  background-color: #380000;
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.4);
}

button:active {
  transform: scale(0.97);
}


a {
  color: #38bdf8;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
  color: #7dd3fc;
}


.card {
  background: #380000;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;


  box-shadow: 
    inset 0 0 10px rgba(0,0,0,0.6),
    0 0 10px rgba(8, 0, 0, 0.2);

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 
    inset 0 0 10px rgba(0,0,0,0.6),
    0 0 20px rgba(64, 2, 5, 0.5);
}


.highlight {
  color: #c2000a;
  font-weight: bold;


  text-shadow: 0 0 6px rgba(255, 26, 38, 0.6);
}


.footer {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  background: #380000;
  color: white;

  box-shadow: 0 -2px 10px rgba(0,0,0,0.4);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.win {
  color: lime;
  animation: pop 1s ease;
}

.fail {
  color: red;
  animation: flash 0.5s infinite;
}

@keyframes pop {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes flash {
  0% { background: red; }
  100% { background: black; }
}